<p>reservas-listado works!</p>
<a [routerLink]="['./',10]">IR A DETALLE</a>&nbsp;&nbsp;
<a [routerLink]="['/login']">IR A LOGIN</a>

<div *ngFor="let r of api.getAll()">
    {{r.id}} -{{r.name}}
</div>