<p>vuelos-component works!</p>
<div class="navLinks">
    <a [routerLink]="['./main']">Main</a>&nbsp;&nbsp;
    <a [routerLink]="['./mas-info']">Mas Información</a>&nbsp;&nbsp;
    <a [routerLink]="['./',5]">Vuelo 5</a>
</div>
<router-outlet></router-outlet>