<form class="form-inline" *ngIf="!authService.getUser()">
    <div class="form-group">
        <label for="username">Usuario: (type <em>Usuario</em>)</label>
        <input type="text" class="form-control" id="username" name="username" #username>

    </div>
    <div class="form-group">
        <label for="password">Password: (type <em>Password</em>)</label>
        <input type="password" class="form-control" id="password" name="password" #password>
    </div>
    <a href="" class="btn btn-default" (click)=login(username.value,password.value)>Entrar</a>
    {{mensajeError}}
</form>
<a class="btn btn-default" (click)="logout()" *ngIf="authService.getUser()">salir</a>